{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}Register{% endblock %}</h1> -->
{% endblock %}

<!-- create the registration form -->
{% block content %}
<!-- Registration Area -->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="registration" id="registrationForm" style="margin-top:15rem; padding: 5rem; ">
          <h1 class="text-center">Registration Form</h1>
          <div class="registration-form">
          <form method="POST">
              <div class="form-group row">
                  <div class="col-6">
                      <label for="firstName">First Name:</label>
                      <input type="text" class="form-control" id="firstName" name="fname">
                  </div>
                  <div class="col-6">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName" name="lname">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-5">
                      <label for="contactNumber">Contact Number:</label>
                      <input type="number" class="form-control" id="contactNumber" name="phone" maxlength="11">
                  </div>
                  <div class="col-7">
                      <label for="email">Email:</label>
                      <input type="text" class="form-control" id="email" name="email">
                  </div>
              </div>
              <div class="form-group">
                  <label for="registerUsername">Username:</label>
                  <input type="text" class="form-control" id="registerUsername" name="username">
              </div>
              <div class="form-group">
                  <label for="registerPassword">Password:</label>
                  <input type="password" class="form-control" id="registerPassword" name="user_pw" minlength="6">
              </div>
              <div class="form-group">
                  <label class="radio-inline"><input type="radio" name="userType" value="user" checked>User</label>
                  <label class="radio-inline"><input type="radio" name="userType" value="admin">Admin</label>
              </div>
              <a class="registrationForm" href="{{url_for('auth.login')}}"> <i>Already have an account?</i></a>
              <button type="submit" class="btn btn-dark login-register form-control" name="submit">Register</button>
          </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}